body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #151718;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2; /* Ensure the navbar is above other elements */
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin: 0 20px;
}

.navbar .menu-toggle {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    margin-right: 10px;
}

.navbar .menu-toggle:hover {
    background-color: #151718;
}

.navbar .menu {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.navbar .menu a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.navbar .menu a:hover {
    color: rgba(255, 255, 255, 0.8);
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #F6A425;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

.button:hover {
    background-color: #d88b17;
}


@media only screen and (max-width: 768px) {
    .navbar .menu-toggle {
        display: block;
    }

    .navbar .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #151718;
        padding: 10px;
    }

    .navbar .menu.show {
        display: flex;
    }

    .navbar .menu a {
        margin-right: 0;
        margin-bottom: 10px;
    }
}